/* non minified version of the CSS embeded in public/index.html */
body {
  margin: 0;
}

.loader {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader > div {
  position: relative;
}

.loader div > div {
  width: 48px;
  height: 48px;
}

.loader-track circle {
  stroke: rgba(10, 87, 233, 0.4);
}

.loader-path {
  animation: loader-rotate 550ms linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.loader-path circle {
  stroke-dasharray: 32px, 200px;
  stroke: #0a57e9;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
